/**
 * Global styles
 */

@import "~bootstrap/scss/bootstrap";

/* General
 * ========================== */

body {
	background-color: $color_background; color: $color_font;
	padding-top: $body_padd_top;

	&.admin-bar {
		padding-top: $body_padd_top_admin;
	}
}

img {
	max-width: 100%;
}

/* Font */
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	color: $color_font; margin-bottom: 10px; font-weight: 500;
}
h1, .h1 { font-size: 34px; }
h2, .h2 { font-size: 28px; }
h3, .h3 { font-size: 23px; }
h4, .h4 { font-size: 17px; }
h5, .h5 { font-size: 16px; text-decoration: underline; }

a, .sim-link { color: $color_link;
	&:hover { color: darken($color_link, 10%); }
}

/* Lists */
dl, ol, ul {
	padding-left: 20px;
}

/* Table */
table:not(.no-style):not(.table) {
	border: solid 1px $primary;
	border-collapse: collapse;
	border-spacing: 0;
	font: normal 13px Arial, sans-serif;
	width: 100%;
	margin-bottom: 1rem;

	th, td {
		padding: 10px;
		border: solid 1px $primary;
	}

	th {
		background-color: lighten($primary, 15%);
		color: $color_font_whi;
		text-align: center;
	}
}

/* line break */
hr {
	margin: 35px 15%; border: none;
	border-top: $border_grey;
}

/* Header
 * ========================== */

#site-header { margin-bottom: 50px;
	.navbar {
		background-color: $header_backgr;
		height: $header_height;
		border-bottom: $header_border_size solid $header_border_color;
	}

	#header-right{
		.extra-links {
			ul.list-inline {
				margin-bottom: 0;
				.list-inline-item {
					padding: 0.5rem 0.35rem; margin-right: 0;
					&, & a {
						color: $color_font; cursor: pointer;

						&:hover {
							color: $primary;
						}
					}
				}
			}
		}
		.search-bar {
			display: none;
			.search-form {
				display: inline-block;
				padding: 0.5rem 0.35rem;
			}
			.search-close {
				color: $color_font;
				cursor: pointer;
				padding: 0.5rem 0.35rem;
				margin-left: 5px;

				&:hover {
					color: $primary;
				}
			}
		}

		&.open-search {
			.extra-links {
				display: none;
			}
			.search-bar {
				display: initial;
			}
		}
	}
}

body.admin-bar {
	#site-header .navbar,
	#comments-drawer {
		top: $wp_bar_h;
	}
}

/* Pages
 * ========================== */

.entry-content, .entry-footer, .entry-comments {
	margin-left: 70px; margin-right: 70px;
}

/* Posts
 * ========================== */

.posts-list {
	.one-post {
		margin-bottom: 30px;

		.post-title {
			font-size: 1.3rem;
		}
		.post-link:hover {
			.post-thumbnails {
				opacity: 0.8;
			}
		}
		&.one-post-th2 {
			.post-thumbnails {
				border-radius: 10px;
			}
			.post-no-thumbnails {
				width: 150px; height: 150px; border-radius: 10px;
				background-color: $color_dark_3; color: lighten($color_dark_3, 7%);
				text-align: center; padding: 5px; line-height: 140px;
				font-size: 90px;

				&:hover {
					background-color: darken($color_dark_3, 5%);
				}
			}
		}
	}
}

.post-meta-infos {
	border-top: 1px solid $color_white_3;
	padding-top: 10px;
	font-size: 0.9rem;

	.col-auto {
		padding-left: 5px;
		padding-right: 5px;
	}

	.row {
		margin-left: -5px;
		margin-right: -5px;
	}
}

.post-feature-img {
	margin-bottom: 50px; position: relative;
	img, .feature-img-overlay {
		border-radius: $blocks_border_radius;
	}
	.feature-img-overlay {
		position: absolute; top: 0; bottom: 0;
		left: 0; right: 0; color: $color_font_whi;
		text-align: center; padding: 30px 80px;
		background-color: rgba($color_dark_1, 0.75);

		display: flex; flex-direction: column;
		align-items: center; justify-content: center;

		h1, h2, h3, h4, h5,
		.h1, .h2, .h3, .h4, .h5 {
			color: $color_font_whi;
		}
		a { color: $color_link_light; }

		.overlay-content { width: 100%; }
	}
}

/* Comments
 * ========================== */

.entry-comments {
	border-top: $border_grey; margin-top: 40px;
	padding-top: 40px;

	.comments-block {
		background: $color_white_3; padding: 15px;
		border-radius: $blocks_border_radius;
		height: 100px; display: flex; align-items: center;
		justify-content: center;

		&:hover {
			cursor: pointer;
			background-color: darken($color_white_3, 5%);
		}
		p { margin-bottom: 0; }
	}
}

#comments-drawer {
	width: $comments_drawer_w; z-index: 1500;
	position: fixed; top: 0; bottom: 0;
	right: -$comments_drawer_w; padding: 30px 40px;
	background-color: $color_white_1;
	overflow-x: hidden; transition: 0.5s;

	&.open {
		right: 0;
	}
	.comment-container {
		background: darken($color_white_3, 3%);
		padding: 20px;
		margin-bottom: 20px;
		border-radius: $border_radius;
	}
	.comment-notes {
		font-size: 0.85rem; color: $color_grey_1;
	}
}
#comments-overlay {
	display: none;

	&.show {
		display: block; position: fixed; top: 0;
		bottom: 0; left: 0; right: 0;  z-index: 1499;
		background: rgba($color_dark_1, 0.75);
	}
}

#comment-list {
	ul.children, .comment-respond {
		padding-left: 0;
		margin-left: 45px; // size of the avatar column
		list-style: none;
	}
	.comment {
		.comment-edit-link, .comment-reply-link {
			@extend .btn; @extend .btn-sm;
			@extend .btn-dark; margin-right: 5px;
		}

		.comment-header { margin-bottom: 15px;
			h5 {
				text-decoration: none; margin: 0;
			}
			time {
				font-size: 0.9rem;
			}
		}
	}
	.comment-respond {
		#cancel-comment-reply-link {
			margin-left: 10px; font-size: 0.9rem;
		}
	}
}

/* Footer
 * ========================== */

#footer {
	margin-top: 65px; color: $color_font_whi;
	padding-top: 25px; padding-bottom: 25px;
	background-color: $color_dark_1;

	a { color: $color_link_light; }

	#footer-widgets {
		.footer-widget {
			.footer-widget-title {
				font-size: 1.2em; text-transform: uppercase;
				font-weight: bold;
			}

			ul {
				padding-left: 0; list-style: none;

				li {
					padding: 2px 10px;
				}
			}
		}
	}

	#footer-nav {
		padding: 10px 0px;
		ul { text-align: center; }
	}

	#footer-sub {
		padding: 10px 0px; font-size: 0.9rem;
	}
}

/* Site tools
 * ========================== */

#dezo-site-tools {
	position: fixed; bottom: 0; left: 0;
	z-index: 100; padding: 0 0 0 25px; display: flex;
	background: $primary; color: $color_font_whi;
	border-top-right-radius: $border_radius;
	box-shadow: -1px 1px 2px 2px rgba($color_dark_2, 0.3);

	.tools-item {
		padding: 7px 20px;

		&:not(:last-child) {
			border-right: 1px solid $color_font_whi;
		}
		&#page-up-tool,
		&#comments-tool,
		&#reduce-tools,
		&#share-icons .share-icon {
			cursor: pointer;
			&:hover {
				color: darken($color_font_whi, 15%);
			}
		}
		&#share-icons {
			.list-inline {
				margin-bottom: 0;
			}
		}
	}

	&.reduce {
		#share-icons, #comments-tool {
			display: none;
		}
	}
}

/* Utilities
 * ========================== */

/* Aditional background */
$add_colors: (
	"blue": $blue,
	"indigo": $indigo,
	"purple": $purple,
	"pink": $pink,
	"red": $red,
	"orange": $orange,
	"yellow": $yellow,
	"green": $green,
	"teal": $teal,
	"cyan": $cyan
);

@each $name, $color in $add_colors {
	.bg-#{$name} {
		background-color: $color;
	}
}
