

/* Variables
 * ========================== */

// Colors
$color_white_1: #fff;

$color_dark_1: #232931;
$color_dark_2: #393e46;

// Background
$color_background: $color_white_1;

// Font
$color_font: #45454d;
$color_font_whi: $color_white_1;

$color_link: #216583;
$color_link_light: #add2c9;

