

/* Variables
 * ========================== */

// Background
$color_background: #fcf9ea;
$color_background: #eaebd8;

// Font
$color_font: #45454d;
$color_font_whi: #f1f1f1;
$color_link: #216583;

// Colors
$color_grey_1: #757575;
$color_grey_2: #979797;
