/**
 * _dez - starter theme
 *
 * Author: Dezodev
 * Version: 0.0.1
 */

@import '@/scss/_variables';
@import "~bootstrap/scss/bootstrap";

/* General
 * ========================== */

body {
	background-color: $color_background; color: $color_font;
}

a {
	color: $color_link;
}

img {
	max-width: 100%;
}

/* Header
 * ========================== */

#site-header {
	margin-bottom: 65px;

	.navbar {
		background-color: $color_white_1;
	}
}

/* Posts
 * ========================== */

.posts-list {
	.one-post {
		margin-bottom: 30px;

		.post-title {
			font-size: 1.3rem;
		}

	}
}

.post-meta-infos {
	border-top: 1px solid $color_grey_1;
	padding-top: 10px;
	font-size: 0.85rem;

	.col-auto {
		padding-left: 5px;
		padding-right: 5px;
	}

	.row {
		margin-left: -5px;
		margin-right: -5px;
	}
}

/* Footer
 * ========================== */

#footer {
	margin-top: 65px; color: $color_font_whi;
	padding-top: 25px; padding-bottom: 25px;
	background-color: $color_dark_1;

	a { color: $color_link_light; }

	#footer-widgets {
		.footer-widget {
			.footer-widget-title {
				font-size: 1.2em; text-transform: uppercase;
				font-weight: bold;
			}

			ul {
				padding-left: 0; list-style: none;

				li {
					padding: 2px 10px;
				}
			}
		}
	}

	#footer-nav {
		padding: 10px 0px;
		ul { text-align: center; }
	}

	#footer-sub {
		padding: 10px 0px; font-size: 0.9rem;
	}
}
